
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="../../../assets/products.jpg" alt="" />
                <h6>All products</h6>
                
            </a>
        </div>
        <div class="item">
            <a>
                <img src="../../../assets/electronics.jpg" alt=""/>
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="../../../assets/fashion.jpg" alt=""/>
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="../../../assets/jewllery.jpg" alt=""/>
                <h6>jewllery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let m of productlist">
            <div class="card col-md-3">
                <img src="{{m.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{m.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{m.description}}</p>
                <p><strong>Price:</strong>${{m.price}}</p>
                <button class="btn btn-primary" (click)="addtocart(m)">add to cart</button>
            </div>
        </ng-container>
    </div>
</div>
