.shadow-sm{
    line-height: 20px;
}
.form-control{
    border-radius: 3px;
    width: 500px;
    margin-left: 20px;
}
.bi-search{
    position:relative;
    z-index: 10;
    right: 5%;
    color:black;
    padding-top: 8px;
}
strong{
    font-family:normal;
}
.btn-success{
    position:relative;
    z-index: 10;
    right: 10%;
    color:black;
    background-color: white;
    width: 60px;
    height: 40px;
}

.btn-success row{
    font-size: 30px;
    
}
