<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="bi bi-truck"></i>
            <strong style="font-size: 30px;">wolverine Kart</strong>
            <div class="form-group">
                <input type="text" class="text form-control" placeholder="search products">
            </div>
            <i class="bi bi-search"></i>
        </div>
        <button routerLink="/Ecart" class="btn btn-success">
            <div class="row">
                <div class="col-6"><i style="font-size:23px;padding-bottom: 5px;" class="bi bi-cart4"></i></div>
                <div class="col-6"><i style="font-size:9px;" class="badge bg-danger">{{totalitems}}</i></div>
            </div>
            
            
        </button>
    </div>
</header>
